/.vs/Dummydll/v16/.suo
/.vs/Dummydll/v16/Browse.VC.db
/.vs/Dummydll/v16/Solution.VC.db
/.vs/Dummydll/v16/ipch/AutoPCH/48f950435b843af9/DUMMYDLL.ipch
/.vs/Dummydll/v16/ipch/AutoPCH/6f9e64bd7b28acb3/DUMMYDLL.ipch
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/CMakeCache.txt
/CMakeFiles/3.20.0-rc2/CMakeCCompiler.cmake
/CMakeFiles/3.20.0-rc2/CMakeCXXCompiler.cmake
/CMakeFiles/3.20.0-rc2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.20.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.20.0-rc2/CMakeRCCompiler.cmake
/CMakeFiles/3.20.0-rc2/CMakeSystem.cmake
/CMakeFiles/3.20.0-rc2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.20.0-rc2/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.20.0-rc2/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdC/Debug/vcpkg.applocal.log
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/3.20.0-rc2/CompilerIdCXX/Debug/vcpkg.applocal.log
/CMakeFiles/3.20.0-rc2/VCTargetsPath.txt
/CMakeFiles/3.20.0-rc2/VCTargetsPath.vcxproj
/CMakeFiles/3.20.0-rc2/x64/Debug/VCTargetsPath.recipe
/CMakeFiles/3.20.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/CMakeFiles/5b18aaa5b76049d296655a2833c9738a/INSTALL_force.rule
/CMakeFiles/5b18aaa5b76049d296655a2833c9738a/PACKAGE_force.rule
/CMakeFiles/5b18aaa5b76049d296655a2833c9738a/generate.stamp.rule
/CMakeFiles/CMakeOutput.log
/CMakeFiles/Export/lib/cmake/dummy/dummyTargets-debug.cmake
/CMakeFiles/Export/lib/cmake/dummy/dummyTargets-minsizerel.cmake
/CMakeFiles/Export/lib/cmake/dummy/dummyTargets-release.cmake
/CMakeFiles/Export/lib/cmake/dummy/dummyTargets-relwithdebinfo.cmake
/CMakeFiles/Export/lib/cmake/dummy/dummyTargets.cmake
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/CPackConfig.cmake
/CPackSourceConfig.cmake
/DartConfiguration.tcl
/Debug/Dummydll.dll
/Debug/Dummydll.exp
/Debug/Dummydll.ilk
/Debug/Dummydll.lib
/Debug/Dummydll.pdb
/DummyConfig.cmake
/DummyConfigVersion.cmake
/DummyDll.vcxproj
/Dummydll.dir/Debug/Dummydll.Build.CppClean.log
/Dummydll.dir/Debug/Dummydll.dll.recipe
/Dummydll.dir/Debug/Dummydll.lib.recipe
/Dummydll.dir/Debug/Dummydll.log
/Dummydll.dir/Debug/Dummydll.tlog/CL.command.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/CL.read.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/CL.write.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/CustomBuild.command.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/CustomBuild.read.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/CustomBuild.write.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/Dummydll.lastbuildstate
/Dummydll.dir/Debug/Dummydll.tlog/Dummydll.write.1u.tlog
/Dummydll.dir/Debug/Dummydll.tlog/link.command.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/link.read.1.tlog
/Dummydll.dir/Debug/Dummydll.tlog/link.write.1.tlog
/Dummydll.dir/Debug/Dummydll.vcxproj.FileListAbsolute.txt
/Dummydll.dir/Debug/dllmain.obj
/Dummydll.dir/Debug/dummydll.obj
/Dummydll.dir/Debug/pch.obj
/Dummydll.dir/Debug/vc142.pdb
/Dummydll.dir/Debug/vcpkg.applocal.log
/Dummydll.sln
/Dummydll.vcxproj.filters
/Dummydll.vcxproj.user
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/OggConfig.cmake
/OggConfigVersion.cmake
/PACKAGE.vcxproj
/PACKAGE.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/dummy.pc
/dummyTargets.cmake
/include/ogg/config_types.h
/ogg.pc
/x64/Debug/ALL_BUILD/ALL_BUILD.log
/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
